@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 58px 10%;
  gap: 20px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 30px;
  margin-left: -11%;
}

.link {
  display: flex;
  align-items: center;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
}

.link img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-left: 0;
  }

  .link {
    gap: 15px;
  }
}
